body{
    background-color: rgb(210, 224, 196);
}
#searchBtn{
    color: white;
    background-color: #F06C4E;
}
#meal-input{
    background-color: white;
}
#warning-text{
    color:  #F06C4E;
    padding-left: 2%;
    height: 100%;
}
.meal-image{
    width: 100%;
}
.details-image{
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

.meal-title{
    text-align: center;
    margin-top: 10px;
}
.meal-area{
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0);
}
.details-title{
    margin: 20px 0;
}
ul{
    list-style: none;
}
#meal-details{
    display: none;
    margin-bottom: 25px;
    background-color: #F8F7F5;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 4px 4px 8px rgb(70, 60, 60);
}
#display-details{
    margin-left: 30%;
}
#ingredient-list{
    text-align: justify;
}
#ingredient-title{
    color: tomato;
    margin: 10px 0;
}